body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 247, 247);
    margin-top: 90px;
}
body>nav{
    position: fixed;
    width: 100%;
    margin-top: -90px;
}
#topnav{
    /* position: fixed; */
    height: 30.2px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(198,0,61) ;
    margin-top: 0px;
    /* display: none; */
}
#topnav>div:nth-child(1){
    margin-left: 10%;
    color: white;
    font-size: 13px;
    line-height: 20px;
    margin-top: -8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#topnav>div:nth-child(2){
    margin-left: 23%;
}
#topnav>div:nth-child(2)>a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 7px;
    color: white;
    font-size: 13px;
    line-height: 20px;
    
}
#topnav>div:nth-child(2) img{
    width: 2%;
    margin-top: 5px;
}
#nav{
    width: 100%;
    background-color: rgb(228,0,70);
    height: 65px;
    display: flex;
}
#logo{
    margin-left: 5%;
    cursor: pointer;
}
#logo img{
    margin-top: 10px;
}
.middle{
    display: flex;
    margin-left: 6%;
    align-items: center;
}
.middle>input{
    padding: 10px 20px;
    height: 40px;
    width: 600px;
    outline: none;
}
.middle>button{
    width: 120px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 2px;
    
}
.middle>button>img{
    filter: hue-rotate(90deg);
}
.cart{
    display: flex;
    margin-left: 8%;
    margin-top: 5px;
    color: white;
    margin-right: 8px;
    align-items: center;
    cursor: pointer;
}
.cart span{
    height: 15px;
    width: 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -10px;
    background-color: white;
    color:#000000;
    font-size: 13px;
    margin-top: -28px;
    
}
.singin{
    display: flex;
    color: white;
    padding: 20px;
    width: 100px;
    align-items: center;
    cursor: pointer;
}
.singin:hover{
    background-color: rgba(238, 238, 238, 0.182);
}
.singin h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tranding{
    background-color: white;
    margin: 0px 77px;
    padding: 5px;
}
.tranding>img:nth-child(2){
    position: absolute;
    margin-top: 10%;
    cursor: pointer;
}
.tranding>img:nth-child(4){
    position: absolute;
    margin-left: 87%;
    margin-top: -17%;
    cursor: pointer;
}
#trandingProducts{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#trandingProducts>div{
    padding: 5px;
    border: 1px solid rgb(236, 236, 236);
}
#trandingProducts>div:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#trandingProducts>div>img:nth-child(1){
    width: 100%;
}
#trandingProducts>div h3{
    color: #504f4f;
    height: 65px;
}
.retings{
    color: #FFC315;
}
.retings::before{
        content: "\2605\2605\2605\2605";
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 18px;
    
}
.price{
    color: #8d8b8b;
    text-decoration:line-through;
    text-decoration-color: black;
    margin-right: 10px;
}
.offerPrice{
    margin-right: 15px;
}
#trandingProducts>div p{
    text-align: center;
    margin-left: 70%;
    margin-top: -20px;
    border: 1px solid rgb(189, 189, 189);
    width: 60px;
}
.topProducts{
    padding-top: 5px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}
.topProducts h3{
    text-align: center;
}
#topProducts{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#topProducts>div{
    padding: 10px;
    border: 1px solid rgb(236, 236, 236);
}
#topProducts>div:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#topProducts>div>img:nth-child(1){
    width: 100%;
}
#topProducts>div p{
    text-align: center;
    margin-left: 70%;
    margin-top: -20px;
    border: 1px solid rgb(189, 189, 189);
    width: 60px;
}

.download{
    margin: 3%;
    background-color: white;
    display: flex;
}
.download>img:nth-child(1){
    margin-left: 17%;
}
.download>div:nth-child(2) h2{
    font-size: 50px;
    margin-top: 20%;
}
.download>div:nth-child(2) div{
    display: flex;
    margin-top: 30px;
}
.download>img:nth-child(3){
    margin-left: 17%;
}
.sopport{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: white;
    border: 1px solid gray;
}
.sopport>img{
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
}
.info>div>div{
    display: flex;
    flex-direction: column;
}
.info a{
    color: #3f3e3e;
}
.info a:hover{
    text-decoration: underline;
    color: #000;
}
.info input{
    border: 1px solid silver;
    border-top-left-radius: 3px;
    padding: 8px;
    width: 200px;
    background-color: #F7F8FA;
    outline: none;
}
.info button{
    display: block;
    position: absolute;
    height: 33px;
    margin-top: -34px;
    margin-left: 219px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.paymentconnect{
    display: flex;
    background-color: white;
}
.paymentconnect>div{
    margin-left: 50px;
}
.paymentconnect>div:nth-child(2){
    margin-left: 100px;
}
.connect img{
    width: 5%;
    opacity: 50%;
}
.connect img:hover{
    cursor: pointer;
    opacity: 100%;
}
.tags{
    padding: 20px 50px;
}
.tags>div{
    margin-top: 10px;
}
.tags>div a{
    color: #3f3e3e;
}
.tags>div a:hover{
    text-decoration: underline;
    color: #000;
}
#totop{
    position: absolute;
    margin-left: 92%;
    margin-top: -50px;
}
footer{
    background-color: white;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    border-top: #a1a0a0 1px solid;
}

/* css  for SlideShow*/

#main{
    display: flex;
}
#slideShow{
    width: 70%;
    height: 280px;
    margin-left: 10px;
    margin-top: 13px;
}
#slideShowImage{
    height: 280px;
}
#slideShowImage>img{
    width: 100%;
    height: 280px;
    border-radius: 2px;
}
#slideShowNav{
    width: 100%;
    height: 40px;
    margin-top:-2px;
    display: flex;
    background-color: white;
    border-radius: 2px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#slideShowNav>a{
    text-decoration: none;
    color: #808080;
    /* position: relative; */
}
#slideShowNav a:hover{
    color: #E53F46;
}
#slideShowNav a:hover::after{
    transform: scaleX(1); 
}
/* Small Cart Cart Css */
#CartDisplay{
    width: 20%;
    height: 307px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 12px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    padding: 8px;
}
.card{
    width: 100%;
    height: 95px;
    display: flex;
    background-color: #FAFAFA;
    align-items: center;
    margin-bottom: 2px;
}
.card img{
    width: 50%;
    padding-left: 10px;
}
.card>div h5{
    margin-left: -40px;
}
.Buynow{
    font-size: 12px;
    color:#25a8ed;
}
#CartDisplay button{
    display: block;
    margin: auto;
    padding: 10px 95px 10px 95px;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;

}
.category{
    width: 15%;
    margin-left: 52px;
    color: #333333;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
}
.category a{
    text-decoration: none;
    color: #333333;
}
#SearchImg{
    width: 5%;
}
.labelIcon{
    height: 28px;
    width: 28px;
    background-color: #d6e4ec;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    color: #cbcbcb;
    margin-top: 6px;
}
.category>nav>ul>li{
    padding: 6px;
}
.category>nav>ul{
    margin-left: -40px;
}

.ThirdNav>ul>div{
    margin-left: -40px;
}
.ThirdNav li{
    list-style-type: none;
    padding: 5px;
    text-align: left;
    margin-left: -40px;
}
#heading{
    padding-left: 20px;
}
#secondHeading{
    padding: 10px;
}
#ThirdHeading{
    padding: 10px;

}
.ThirdNav{
    padding-bottom: 12px;
}
.category>nav>ul{
    width: 100%;
}
.category>nav>ul>li{
    display: flex; 
    align-items: center;
    text-transform: capitalize;
    list-style-type: none;
}
.category>nav>ul>li:hover{
    background-color: #F7F7F7;
    border: 1px solid silver;
    border-left:3px solid red;
    /* box-shadow: rgba(200, 199, 203, 0.25) 0px 30px 60px -12px inset, rgba(181, 180, 180, 0.3) 0px 18px 36px -18px inset; */
    border-right: none;
    display: block;

}

#floatbox{
    display: flex;
    position: absolute;
    left: 242px;
    width: 800px;
    top: 107px;
    font-size: 14px;
    background-color: white;
    visibility: hidden;
  
}
#floatbox>div{
    width: 100%;
    border-right: 1px solid silver;
}
#floatbox ul{
    margin-left: -30px;
}
#floatbox ul li{
    padding: 2px;
    list-style-type: none;
}
#floatbox .last{
    border-right: none;
}
#floatbox>div>img{
    width: 100%;
}

#ViewAll{
    font-size: 12px;
    color: #25a8ed;
}

.category nav ul li:hover #floatbox{
    visibility: visible;
}

.last>img{
    height: 550px;
}

#RecentlyCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 130%;
    background-color: white;
}
#RecentlyCards>div{
    /* border: 1px solid red; */
    height: 300px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#RecentlyCards>div>img{
    width: 50%;
    display: block;
    margin: auto;
}

#RecentlyCards>div>h3{
    color: #504f4f;
    height: 65px;
}

#RecentlyCards>div p{
    text-align: center;
    margin-left: 70%;
    margin-top: -20px;
    border: 1px solid rgb(189, 189, 189);
    width: 60px;
}
#RecentlyCards>div:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#Qrcode{
    width: 190px;
    height: 150px;
    /* border: 1px solid greenyellow; */
    margin-left: 50px;
    display: flex;
    align-items: center;
}
#Qrcode>img{
    border-radius: 9px;
    width: 100%;
}
#Carticon{
    width: 35px;
    height: 40px;
}
#singinlogo{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}
.tags a{
    text-decoration: none;
}
.info a{
    text-decoration: none;
}
