body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 247, 247);
}
#topnav{
    /* position: fixed; */
    height: 30.2px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(198,0,61) ;
    margin-top: 0px;
    /* display: none; */
}
#topnav>div:nth-child(1){
    margin-left: 10%;
    color: white;
    font-size: 13px;
    line-height: 20px;
    margin-top: -8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#topnav>div:nth-child(2){
    margin-left: 23%;
}
#topnav>div:nth-child(2)>a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 7px;
    color: white;
    font-size: 13px;
    line-height: 20px;
    
}
#topnav>div:nth-child(2) img{
    width: 2%;
    margin-top: 5px;
}
#nav{
    width: 100%;
    background-color: rgb(228,0,70);
    height: 65px;
    display: flex;
}
#logo{
    margin-left: 5%;
}
#logo img{
    margin-top: 10px;
}
.middle{
    display: flex;
    margin-left: 6%;
    align-items: center;
}
.middle>input{
    padding: 10px 20px;
    height: 40px;
    width: 600px;
    outline: none;
}
.middle>button{
    width: 120px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 2px;
    
}
.middle>button>img{
    filter: hue-rotate(90deg);
}
.cart{
    display: flex;
    margin-left: 8%;
    margin-top: 5px;
    color: white;
    margin-right: 8px;
    align-items: center;
    cursor: pointer;
}
.cart span{
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: -15px;
    background-color: white;
    color:#504f4f;
    font-size: 13px;
    margin-top: -28px;
    
}
.singin{
    display: flex;
    color: white;
    padding: 20px;
    width: 100px;
    align-items: center;
    cursor: pointer;
}
.singin:hover{
    background-color: rgb(41, 43, 43);
}
.singin h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Carticon{
    width: 35px;
    height: 40px;
}
#singinlogo{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}






/* Css for MAIN */
.MainDiv{
    display: flex;
}
.MainDiv>#LeftBox{
    width: 20%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    height: 800px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#LeftBox>div{
    margin-left: 10px;
}
#Pricearange{
    margin-top: 10px;
    /* margin-left: 10px; */
    margin-right: 10px;
}
#Pricearange>input{
    width: 80px;
    height: 25px;
    outline: none;
    border: 1px solid silver;
    border-radius: 4px;
}
#Pricearange>button{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    margin-left: 10px;
}
.fa{
    color: #E9E9E9;
}
.checked {
    color: orange;
}

#CustomerRating>div{
    margin-left: 30px;
}
#CustomerRating>div>span{
    margin-left: 10px;
}
#category-filter>div{
    margin-bottom: 10px;
}
#Discout-filter>div{
    margin-bottom: 10px;
}

#right{
    width: 77%;
    background-color: white;
    margin-top: 10px;
    margin-left: 7px;
  
}
#right>.Sortbox{
    height: 25px;
    width: 23%;
    border: 1px solid silver;
    margin-left: 800px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}
#right>.Sortbox>p{
    align-items: center;
    margin-top: 5px;
}
#right>.Sortbox>select{
    width: 60%;
    margin-left: 10px;
    border: none;
    outline: none;

}
#Products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
}
/* #Products>div{
    border: 1px solid green;
} */
#Products>div>img{
    width: 100%;
}



#Products>div{
    padding: 5px;
    /* border: 1px solid rgb(236, 236, 236); */
}
#Products>div:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#Products>div h3{
    color: #504f4f;
    height: 65px;
}
.retings{
    color: #FFC315;
}
.retings::before{
        content: "\2605\2605\2605\2605";
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 18px;
    
}
.price{
    color: #8d8b8b;
    text-decoration:line-through;
    text-decoration-color: black;
    margin-right: 10px;
}
.offerPrice{
    margin-right: 15px;
}
#Products>div p{
    text-align: center;
    margin-left: 70%;
    margin-top: -20px;
    border: 1px solid rgb(189, 189, 189);
    width: 63px;
}
.AddtoCart{
    border: none;
    background-color: #333333;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 10px;
}
.Buynow{
    border: none;
    background-color: #E53F46;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 10px;
}
#Products .Btns{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.Btns>button{
    cursor: pointer;
}

#logo{
    cursor: pointer;
}