*{
    font-family: sans-serif;
    box-sizing: border-box;
}
#container {
    /* border: solid 2px green; */
    margin: auto;
    background-color: #e9eef4;  
}
#form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: solid 1px black; */
    background-color: #FFFFFF;
    width: 23%;
    margin:auto;
    border-radius: 8px;
    padding: 5px 25px 0 25px;

}
#heading {
    font-size: 18px;
    letter-spacing: .20px;

}

 .pTag {
    font-size: 12px;
    color: rgb(91, 95, 96);
 }
 .instruction{
    color: #777c82;
    font-size: 10.5px;
    line-height: 15px;

 }

 #keep{
    font-size: 10px;
    line-height: 15px;
    position: relative;
    top: -3px;
    letter-spacing: .2px;

 }
 .input {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    padding: 8px 16px 8px 16px;
    border:  1px solid #D8E2EF;
    margin: 10px 0 0 0;
    font-size: 12.5px;
    letter-spacing: .5px;
}
.alert {
    font-size: 12px;
    line-height: 15px;
    margin: 7px 0 0 0;
    color:#ea4335;
    display: none;
 }
#divider{
    text-align: center;
    margin: 60px 0 0 0;
    color: darkgrey
}
 #Continue_btn {
    height: 40px;
    width: 100%;    
    color: #FFFFFF;
    background-color: #E40046;
    border: 0px;
    margin: 20px 0 5px 0;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
 }
 #Continue_btn:hover {
    background-color: #D32F2F;
 }
 #term{
    text-align: center;
 }
 #link{
    text-align: center;
    text-decoration: none;
    color: rgb(43, 167, 215);
 }
#google {
    height: 40px;
    width: 100%;    
    color: rgb(91, 95, 96);
    background-color: #FFFFFF;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 0 60px 0;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    /* text-align: center; */
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  i{
    position:relative;
    left: -105px;
    
  }


  .popup{
   position: absolute;
   background-color: #E40046;
   height: 500px;
   width: 30%;
   border-radius: 10px ;
   text-align: center;

   top: 0;
   left: 50%;
   transform: translate(-50% , -50%) scale(0.1);
   visibility: hidden;
   transition: transform 0.4s , top 0.4s;
}
.openpopup{
   visibility: visible;
   top: 50%;
   transform: translate(-50% , -50%) scale(1);
}
.popup>h1{
   padding-top: 50px;
   font-family: serif;
   font-size: 50px;
}
.popup h3{
   font-family: serif;
   font-size: 30px;
}
#otpInput input{
   width: 50px;
   height: 50px;
   font-size: 50px;
   text-align: center;
   border: 0px;
}
#otpButton{
   margin-top: 20px;
   width: 30%;
   height: 40px;
   cursor: pointer;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 5px;
}