.navbar{
    display: block;
    width: 100%;
    height: 50px;
}
.navbar > div{
    background-color: #e40046;
    height: 50px;
}


#home{
    cursor: pointer;
    margin-top: 0.5%;
    margin-left: 2%;
}

/* css for container */

#home{
    cursor: pointer;
}
.container{
    display: flex;
    width: 58%;
}
.alpha{
    display: flex;
}

.card2 > h3{
    font-weight: 600;
    font-size: 22px;
}
.card2{
    width: 40%;
    padding: 0% 1%;
    margin-top: -3%;
    border-left: 0.5px solid rgb(102, 102, 102);
}
.card2 h3{
    margin-top: -0.3%;
}
.card2 > div:nth-child(4){
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.card2 > div:nth-child(2){
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.card2 button{
    width: 82%;
    padding: 3.5% 3%;
    background-color: #e40046;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.card2 hr{
    width: 65%;
    margin-left: 0%;
}
.card2 img{
    width: 82%;
}
.card2 > div{
    width: 80%;
}
#top{
    display: flex;
    margin-left: 22%;
}
#top h3{
    width: 100%;
    font-weight: 600;
    margin-left: 0%;
    margin-right: 0%;
}
.col{
    color: rgb(102, 102, 102);
    padding-left: 1%;
}

.card1{
    width: 60%;
    display: inline;
    margin-left: 38%;
    margin-right: 0%;
}
.card1 img{
    margin-top: 20%;
    width: 55%;
}
.card1 > div{
    display: flex;
    margin-bottom: 3%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card1 > div > div:first-child{
    width: 25%;
    /* border: 1px solid blue; */
    text-align: center;
}
.card1 > div > div:nth-child(2){
    width: 75%;
    /* border: 1px solid black; */
    
}
.card1 h3{
    font-weight: normal;
}
.light{
    color: rgb(102, 102, 102);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
}
.card1 hr{
    display: flex;
    justify-self: right;
    width: 100%;
    text-align: right;
}
.card1 > div > div > div{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-bottom: 3%;
}
.card1 button{
    border: none;
    background-color: white;
    color: rgb(244, 51, 151);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

#empty-cart{
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
#empty-cart p{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 20px 0px;
}
#empty-cart button{
    cursor: pointer;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.0015em;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    color: rgb(244, 51, 151);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(244, 51, 151);
    padding: 1% 2%;
}

/* css for address part */

#card3{
    display: block;
    width: 35.9%;
    margin-left: 22%;
}
#card3 > div{
    padding: 3%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}
#card4{
    display: block;
    width: 35.9%;
    margin-left: 22%;
}

#card4 img{
    width: 100%;
}
#continue{
    display: block;
    margin-bottom: 2%;    
}
#msg{
    display: none;
    color: green;
}

@media screen and (max-width:412px){
    .alpha{
        display: block;
    }
    .container{
        width: 100%;
        margin: auto;
    }
    .navbar{
        display: block;
        text-align: center;
    }
    .card1{
        width: 100%;
        margin: auto;
    }

    #top{
        display:flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }
    #top h3{
        display: inline;
        width: 18%;
        text-align: right;
        padding-right: 7%;
    }
    .card2{
        width: 100%;
        text-align: center;
        margin-top: 5%;
        border: 1px solid black;
        padding: 5% 1%;
    }
    .card2 > div{
        width: 100%;
    }
    #one{
        width: 100%;
        text-align: center;display: inline;
    }
    #two{
        width: 100%;
        display: inline;
        font-size: medium;
    }
    #three{
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    #three lable{
        display: block;
    }
    #two h3{
        display: inline;
    }
    .card2 hr{
        margin: 2% auto;
    }
    #card3{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    #card4{
        width: 100%;
        text-align: center;
        margin: auto;
    }
}